{{ $st := .page }}

{{/* Get site logo. */}}
{{ $show_logo := site.Params.main_menu.show_logo | default true }}
{{ $has_logo := fileExists "assets/media/logo.png" | or (fileExists "assets/media/logo.svg") }}
{{ $logo := "" }}
{{ if $has_logo }}
  {{ $logo = (partial "functions/get_logo" (dict "constraint" "max_height" "size" 500)) }}
{{ end }}

  <div class="landingstyle" id="container">
    <div id="right">
      {{ $st.Content }}
      <br>
      <center>
      <p>
        <bold>Follow us on Instagram!</bold>
        <br>
      <!--- <a href="https://x.com/waterik_?lang=en" target="_blank" rel="noopener" aria-label="X">
        <i class="fa-brands fa-x-twitter big-icon"></i> --->
      </a>
      <a href="https://www.instagram.com/waterik_/" target="_blank" rel="noopener" aria-label="Instagram">
        <i class="fa-brands fa-instagram big-icon"></i>
      </a>
      </p>
      </center>
    </div>
    <div id="fig_logo">
      <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}" width=100%>
    </div>
  </div>

