// Override this file to add your own SCSS styling.

iframe.instagram-media {
    max-width: 100% !important;
    width: 100% !important;
    min-width: auto !important;
}

    /* On higher resolutions, style for large screens */
    @media only screen and (min-width: 900px) {
        .instagramcontainer #container {height: 100%; width:100%; font-size: 0;}
        .instagramcontainer #left, .instagramcontainer #middle, .instagramcontainer #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
        .instagramcontainer #left {width: 32%; height: 100%; background: white;}
        .instagramcontainer #middle {width: 32%; height: 100%; background: white;}
        .instagramcontainer #right {width: 32%; height: 100%; background: white;}
   } 

    /*On larger resolutions, style for small screens*/ 
    @media only screen and (max-width: 900px) {
        .instagramcontainer #container {height: 100%; width:100%; font-size: 0;}
        .instagramcontainer #left, .instagramcontainer #middle, .instagramcontainer #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
        .instagramcontainer #left {width: 100%; height: 100%; background: white;}
        .instagramcontainer #middle {width: 100%; height: 100%; background: white;}
        .instagramcontainer #right {width: 100%; height: 100%; background: white;}
   } 
   
.landingstyle #container {height: 100%; width: 100%;}
    .landingstyle #fig_logo, .landingstyle #right {display: inline-block; zoom: 1; vertical-align: middle; align-content: middle; font-size: 100%;}
    .landingstyle #fig_logo {width: 19%; height: 100%}
    .landingstyle #right {width: 80%; height: 100%}
    
.mybtn { 
    background-color: #0d743b;
    margin: 9px;
    border: 0;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.mybtn:active {
    background-color: #262262;
}